<!doctype html>
  <html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <title>Pontiac</title>
    <style type="text/css">
      @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap');
      @media all and (min-width: 992px) {
        .navbar .nav-item .dropdown-menu{ display: none; }
        .navbar .nav-item:hover .nav-link{   }
        .navbar .nav-item:hover .dropdown-menu{ display: block; }
        .navbar .nav-item .dropdown-menu{ margin-top:0; }
      } 
    </style>
  </head>
  <body>


   <nav class="navbar navbar-expand-lg navbar-dark">
     <div class="container-fluid">
       <a class="navbar-brand" href="index.html">
        <img src="../static/logo1.png" alt="" width="200"  class="d-inline-block align-text-top" style="vertical-align: top;">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"  aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"> </span> </button>
      <div class="collapse navbar-collapse" id="main_nav">
        <ul class="navbar-nav">
          <li class="nav-item p-2 active" style="width: 60%"> <a class="nav-link p-2" 
            href="index.html">
          &nbsp;&nbsp;Home&nbsp;&nbsp;</a> </li>

          <li class="nav-item dropdown p-2" style="width: 60%">
            <a class="nav-link p-2" href="#" data-bs-toggle="dropdown">  About&nbsp;us  </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="history.html"> Brand history</a></li>
              <li><a class="dropdown-item" href="contacts.html"> Contact us </a></li>
              <li><a class="dropdown-item" href="dealership.html"> Dealership </a></li>
            </ul>
          </li>

          <li class="nav-item dropdown p-2" style="width: 60%">
            <a class="nav-link p-2" href="#" data-bs-toggle="dropdown">  Special&nbsp;Offers  </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="loans.html"> Loan calculator</a></li>
              <li><a class="dropdown-item" href="sales.html"> Sales information </a></li>
            </ul>
          </li>

          <li class="nav-item dropdown p-2" style="width: 50%">
            <a class="nav-link p-2" href="#" data-bs-toggle="dropdown">  To&nbsp;Owners  </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="insurance.html"> Insurance details</a></li>
              <li><a class="dropdown-item" href="services.html"> Services </a></li>
              <li><a class="dropdown-item" href="whyoriginal.html"> Why choose original? </a></li>
            </ul>
          </li>

        </ul>
      </div> <!-- navbar-collapse.// -->
    </div> <!-- container-fluid.// -->
  </nav>

 <!--  <div class="container-fluid parallax ms-0 me-0 ps-0 pe-0" style="background-image: url('../static/pontiac.jpg'); height: 200px;">
  </div> -->

  <div id="main" class="pt-5 pb-5 justify-content-center">
    <div class="row">
      <div class="col-md-1 col-lg-1"> </div>
      <div class="col-12 col-md-5 col-lg-5 notice ms-2 ps-3 pt-2">
        <h3> How to use a loan calculator?</h3>
        <hr>
        <ul>
          <li> First, choose the proper amount of months to pay the loan off.</li>
          <li> The minimum period to loan money is half a year and maximum is two years.</li>
          <li>Then input the amount of money you want to get in the back.</li>
          <li> The results will show how much do you need to pay per month.</li>
        </ul>
        <br>
        <img src="../static/car-calc.png" width="40%" style="margin-left: 30%;">
      </div>
      <div class="col-12 col-md-5 col-lg-5">
        <form id="loan" class="pt-2 pb-4">
          <legend> LOAN CALCULATOR</legend>
          <label for="months"> Number of months:</label> <br> <br>
          <input type="range" name="months" min="6" max="24" step="1" class="slider" oninput="this.nextElementSibling.value = this.value">
          <output>6</output>
          <input type="text" name="cash" placeholder="loan amount" pattern="[0-9]+"> <br>
          <input type="submit" name="calc" value="calculate the loan" class="mt-4">
          <p class="p-1"> OUTCOME: </p> <br>

        </form>
      </div>
    </div>
  </div>
  <div class="container-fluid parallax ms-0 me-0 ps-0 pe-0" style="background-image: url('../static/pontiac2.jpg');"> </div>

  <footer>
    <div class="row container-fluid ms-0 me-0 ps-0 pe-0 pt-3">
      <div class="col-4 col-md-2 col-lg-2">
        <img src="../static/musclecar1.png" width="90%">
      </div>
      <div class="col-4 col-md-8 col-lg-8">
        <a href="#">Pontiac</a>
        <a href="#">About&nbsp;us</a>
        <a href="#">Special&nbsp;offers</a>
        <a href="#">To&nbsp;owners</a>
        <hr style="border: 1px solid gray;">
        <p>&copy; 2021 Pontiac, Inc</p>
      </div>
      <div class="col-4 col-md-2 col-lg-2">
        <img src="../static/musclecar1.png" width="90%" style="transform: scale(-1, 1);">
      </div>
    </div>
  </footer>


</body>
</html>