{% extends 'base.html' %}

{% load static %}
{% block content %}
<div id="main" class="pt-5 pb-5 justify-content-center">
  <div class="row">
    <div class="col-md-1 col-lg-1"> </div>
    <div class="col-12 col-md-5 col-lg-5 notice ms-2 ps-3 pt-2">
      <h3> How to use a loan calculator?</h3>
      <hr>
      <ul>
        <li> First, choose the proper amount of months to pay the loan off.</li>
        <li> The minimum period to loan money is half a year and maximum is two years.</li>
        <li>Then input the amount of money you want to get in the back.</li>
        <li> The results will show how much do you need to pay per month.</li>
      </ul>
      <br>
      <img src="{% static 'images/car-calc.png' %}" width="40%" style="margin-left: 30%;">
    </div>
    <div class="col-12 col-md-5 col-lg-5">
      <form id="loan" class="pt-2 pb-4">
        <legend> LOAN CALCULATOR</legend>
        <label for="months"> Number of months:</label> <br> <br>
        <input type="range" name="months" min="6" max="24" step="1" class="slider" oninput="this.nextElementSibling.value = this.value">
        <output>{{month}}</output>
        <input type="text" name="cash" placeholder="loan amount" pattern="[0-9]+" value="{{loan_amount}}"> <br>
        <input type="submit" name="calc" value="calculate the loan" class="mt-4">
        <p class="p-1"> OUTCOME: {{outcome}}</p> <br>

      </form>
    </div>
  </div>
</div>
{% endblock %}
