{% extends 'base.html' %}


{% load static %}
{% load carApp_extras %}
{% block content %}
  <div id="main">
    <div class="row"> 
      <div class="col-md-3 col-lg-3">
      <div style="width: 80%; height: 100%; background-color: #f0f0f0;" class="pt-3">
       <h3> Parameters:</h3>
       <hr class="ms-3 me-3">
       <form id="parameters">
         <input type="text" name="startprice" placeholder="minimum price" pattern="[0-9]+"> <br>
         <input type="text" name="endprice" placeholder="maximum price" pattern="[0-9]+"> <br>
         <input type="submit" name="apply" value="Apply">
       </form>
      </div>
    </div>
    <div class="col-sm-12 col-md-9 col-lg-9">
      
      {% for row in rows %} 
      <div class="row"> 
        {% with index=row|indexes %}
          
        {% for car in cars|slice:index %}
        <div class="col-sm-12 col-md-3 col-lg-3 card animated bounce"> 
          <img src="{% static car.image.path %}">
          <h3> {{car.name}} </h3>
          <hr>
          <h4> ${{car.price}}</h4>
          <div class="row container-fluid justify-content-center dots">
           <span class="dot" style="background-color: #9e0000;"></span>
           <span class="dot" style="background-color: #1d7500;"></span>
           <span class="dot" style="background-color: #001375;"></span>
           <span class="dot" style="background-color: black;"></span> 
         </div>
         <a href="{% url 'car_order' %}?id={{car.id}}"> Buy </a></div>
        {% endfor %}
        {% endwith %}
     </div>
     {% endfor %} 
     
   </div>
 </div>
</div>
{% endblock %}