
{% extends 'base.html' %}


{% load static %}
{% block content %}
<div id="main" class="container-fluid pt-5">

  <div class="row">
    <div class="col-md-1 col-lg-1"> </div>
    <div class="col-12 col-md-5 col-lg-5">
      <h2>1. 1926-1942</h2>
      <div class="patch">
        <p style="width: 80%;"> 
          The Oakland Motor Car Company was founded in 1907 in Pontiac, Michigan, by Edward Murphy, a manufacturer of horse-drawn carriages.It was named after the famous Ottawa chief, who had also given his name to the city of Pontiac, Michigan, where the car was produced. Within months of its introduction, Pontiac was outselling Oakland, which was essentially a 1920s Chevrolet with a six-cylinder engine.
        </p>
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
        </svg>
      </div>
    </div>

    <div class="col-12 col-md-5 col-lg-5">
      <h2>2. 1946–1954</h2>
      <div class="patch">
        <p style="width: 80%;"> 
          All Pontiac models were essentially 1942 models with minor changes. The Hydramatic automatic transmission was introduced in 1948 and helped Pontiac sales grow even though their cars, Torpedoes, and Streamliners, were quickly becoming out of date.The first Pontiac models appeared in 1949. They incorporated styling cues such as lower body lines and rear fenders that were integrated into the rear-end styling of the car. 
        </p>
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
        </svg>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-1 col-lg-1"> </div>
    <div class="col-12 col-md-5 col-lg-5">
      <h2>4. 1955–1960</h2>
      <div class="patch">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
        <p style="width: 80%;"> 
          Completely new bodies and chassis were introduced in 1955. A new 173 hp overhead-valve Strato Streak V8 engine was introduced. Sales increased. With the introduction of this V8, the six-cylinder engines were discontinued; a six-cylinder would not return to the full-size Pontiac line until the GM corporate downsizing of 1977. A four-cylinder engine was introduced in the Tempest model line in 1961, followed by an overhead-cam six-cylinder starting in 1966, as well as on the Firebird.
        </p> 
      </div>
    </div>

    <div class="col-12 col-md-5 col-lg-5">
      <h2>3. 1946–1954</h2>
      <div class="patch">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
        <p style="width: 80%;"> 
          All Pontiac models were essentially 1942 models with minor changes. The Hydramatic automatic transmission was introduced in 1948 and helped Pontiac sales grow even though their cars, Torpedoes, and Streamliners, were quickly becoming out of date.The first Pontiac models appeared in 1949. They incorporated styling cues such as lower body lines and rear fenders that were integrated into the rear-end styling of the car. 
        </p>
        
      </div>
    </div>
  </div>

  <div class="row imgs pt-3 pb-3">
    <div class="col-md-4 col-lg-4">
      <img src="{% static 'images/hist1.jpg'%}">
    </div>
    <div class="col-md-4 col-lg-4">
      <img src="{% static 'images/hist2.jpg'%}">
    </div>
    <div class="col-md-4 col-lg-4">
      <img src="{% static 'images/hist3.jpg'%}">
    </div>
  </div>


  <div class="row">
    <div class="col-md-1 col-lg-1"> </div>
    <div class="col-12 col-md-5 col-lg-5">
      <h2>5. 1961–1970</h2>
      <div class="patch">
        <p style="width: 80%;"> 
          Most of Pontiac's models built during the 1960s and 1970s were either styled like, or were siblings to, other GM makes (except Cadillac). However, Pontiac retained its own front- and rear-end styling, interiors, and engines. The 1961 models were similarly reworked. The split grille returned, as well as all-new bodies and a new design of a perimeter-frame chassis for all its full-size models. These new chassis allowed for reduced weight and smaller body sizes. The similarly styled Chevrolet still used the radically different "X" frame in the early 1960s. 
        </p>
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
        </svg>
      </div>
    </div>

    <div class="col-12 col-md-5 col-lg-5">
      <h2>6. 1970–1982</h2>
      <div class="patch">
        <p style="width: 80%;"> 
          Increasing insurance and fuel costs for owners coupled with looming Federal emissions and safety regulations would eventually put an end to the unrestricted, powerful engines of the 1960s. Engine performance began declining in 1971 when GM issued a corporate edict mandating that all engines be capable of using lower-octane unleaded gasoline, which led to dramatic drops in compression ratios, along with performance and fuel economy. This, coupled with trying to build cars as plush as GM's more luxurious Buicks and Oldsmobiles, contributed to the start of a slow decline of Pontiac in 1971. 
        </p>
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
        </svg>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-1 col-lg-1"> </div>
    <div class="col-12 col-md-5 col-lg-5">
      <h2>8. 1989–1997</h2>
      <div class="patch">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
        <p style="width: 80%;"> 
          Pontiacs introduction included anti-lock brakes, GM's Quad-4 engine, airbags, and composite materials. Safari station wagon production ended in 1989, the last V8 powered full-sized, rear-wheel drive Pontiac until the 2009 G8. The 1990 model year saw the launch of Pontiac's first minivan and light truck, the Trans Sport. In addition, the Grand Prix line added its first-ever 4-door model, offered in LE and STE trims. At the end of the 1991 model year, the 6000 was discontinued in favor of the newly expanded Grand Prix lineup and the new Trans Sport minivan, which replaced the 6000 station wagon. 
        </p> 
      </div>
    </div>

    <div class="col-12 col-md-5 col-lg-5">
      <h2>7. 1982–1988</h2>
      <div class="patch">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
        </svg>
        <p style="width: 80%;"> 
          Introduced in 1982, the wedge-shaped Firebird was the first major redesign of the pony car since 1970. Embedded marketing in the television series Knight Rider was successful. Pontiac introduced more performance-oriented models over the next decade. The Trans Am also set a production aerodynamic mark of .32 cd. A convertible body style was reintroduced after nine years. GM adapted the J-body cars and the all-new for 1982 J2000 (later renamed Sunbird) had a convertible as part of its line. 
        </p>
        
      </div>
    </div>
  </div>

  <div class="row imgs pt-3 pb-5">
    <div class="col-md-4 col-lg-4">
      <img src="{% static 'images/hist4.jpg'%}" style="padding: 0%;">
    </div>
    <div class="col-md-4 col-lg-4">
      <img src="{% static 'images/hist5.jpg'%}" style="padding: 0%;">
    </div>
    <div class="col-md-4 col-lg-4">
      <img src="{% static 'images/hist6.jpg'%}" style="padding: 0%;">
    </div>
  </div>


  <h3> Key people: </h3>
  <div class="row pt-5">

    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{% static 'images/frank.jpg'%}" alt="Card image cap">
      <div class="card-body">
        <h4>Franklin Quick "Frank" Hershey</h4>
        <p class="card-text">American automobile designer and student of General Motors Vice President of Design Harley Earl</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{% static 'images/irving.jpg'%}" alt="Card image cap">
      <div class="card-body">
        <h4>Irving Jacob Reuter</h4>
        <p class="card-text">An automotive leader. In 1925 he was named general manager and president of Oldsmobile after rising through the ranks at Remy Electric. </p>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{% static 'images/semon.jpg'%}" alt="Card image cap">
      <div class="card-body">
        <h4>Semon Emil "Bunkie" Knudsen</h4>
        <p class="card-text">American automobile designer and student of General Motors Vice President of Design Harley Earl</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{% static 'images/john.jpg'%}" alt="Card image cap">
      <div class="card-body">
        <h4>John Zachary DeLorean</h4>
        <p class="card-text">American automobile designer and student of General Motors Vice President of Design Harley Earl</p>
      </div>
    </div>

  </div> <!-- cards row -->
</div> <!--main-->
{% endblock %}
